--host_jvm_args=-DsocksProxyHost=...
--host_jvm_args=-DsocksProxyPort=...
--host_jvm_args=-Dhttp.proxyHost=...
--host_jvm_args=-Dhttp.proxyPort=...
--host_jvm_args=-Dhttps.proxyHost=...
--host_jvm_args=-Dhttps.proxyPort=...
